:root {
  --main-color: white;
  --secondary-color: rgba(255, 255, 255, 0.653);
  --background-second-color: rgb(239, 239, 239);
  --main-font-size: "Cinzel", serif;
}

h1,
h2,
h3,
h4,
.about-text,
.btn-branding,
.btn-branding-black,
.music-text {
  font-family: var(--main-font-size);
  line-height: 1.6;
  letter-spacing: 2px;
}

h1 {
  color: var(--main-color);
  font-size: 55px;
  font-weight: 500;
}

h2 {
  color: var(--secondary-color);
  font-size: 19px;
  font-weight: normal;
}

h3 {
  font-size: 55px;
  font-weight: 600;
}

p,
.music-text {
  font-size: 17px;
  font-weight: 400;
}

h4 {
  color: var(--main-color);
}

.bg-custom-class {
  background-color: black;
}

.section-home {
  padding-top: 60px;
}

.home-text {
  padding: 0 70px 100px;
  text-align: center;
}

.btn-branding {
  background-color: none;
  border-color: var(--main-color);
  border-radius: 1px;
  color: var(--main-color);
  font-size: 13px;
  padding: 15px 35px;
}

.btn-branding:hover {
  background-color: rgb(16, 15, 15);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section-about {
  background-color: var(--background-second-color);
  padding: 10px 250px 50px 250px;
}

.img-about {
  max-width: 100%;
  width: 400px;
}

.btn-branding-black {
  background-color: none;
  border-color: black;
  border-radius: 1px;
  font-size: 13px;
  font-weight: 500;
  padding: 15px 35px;
}

.btn-branding-black:hover {
  background-color: rgb(227, 225, 225);
  border-color: rgb(162, 154, 154);
  color: rgb(16, 15, 15);
}

.section-music {
  background-image: url(/images/music.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.layer {
  background-color: rgba(0, 0, 0, 0.808);
  background-position: absolute;
  background-size: cover;
  padding: 60px 0;
}

.music-text {
  color: var(--main-color);
  margin: 0 250px;
}

.bubble-img {
  max-width: 100%;
  width: 450px;
}

.btn-music {
  margin-top: 50px;
}

.section-videos {
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 767px) {
  .home-text {
    padding: 0 0 40px;
  }

  .layer {
    padding: 40px 0;
  }

  .music-text {
    margin: 0 20px;
  }

  .bubble-img {
    width: 100%;
    max-width: 300px;
  }

  .btn-music {
    margin-top: 20px;
  }

  .section-videos {
    padding: 40px 10px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    text-align: center;
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }

  .btn-branding {
    font-size: 11px;
  }

  .about-text,
  .music-text {
    font-size: 14px;
  }

  .img-about {
    width: 100%;
    max-width: 800px;
  }
}

@media (max-width: 1250px) {
  .section-about {
    padding: 10px 5px 50px 5px;
  }

  .img-about {
    width: 100%;
    max-width: 600px;
  }
}
